* {
	/* margin: 0;
	padding: 0; */
	box-sizing: border-box;
}

body{
	
}



header nav#nav-zone{
	background-color: #eee;
	
	/* border: 1px solid red;*/
	
	/* text-transform: uppercase; */
	/* min-height: 150px; */
	box-shadow: 0 2px 1px #aaa; 
	border-radius: 0;
	padding-bottom: 0px; 
	padding-top: 10px;
	margin-bottom: 0;
	
} 

div#bottle{
 	/* border: 1px solid pink;*/
	position: relative; 
	
	
}


div.navbar-header{
	/* border: 1px solid yellow; 
	/* background-color: green; */
	 /* removes gap between button and toggle menu list */
}
/*  navbar-brand section */


 div.navbar-brand{
	/*border: 1px solid yellow;  */
	text-transform: uppercase;
	
	/* background-color: orange;  */
}

div.navbar-brand a {
	text-decoration: none;
	display: block;
	
}

div.navbar-brand a:hover{
	text-shadow: 2px 2px 2px #999;
	
}


a, a:hover{
	
	
}

/*  h1   */

h1#web-title {
	font-family: 'Kaushan Script', 'Courgette', cursive, serif;
	font-size: 2em;
	/* border: 1px solid yellow; */
	margin: 0;
	padding: 0
	
	text-shadow: 1px 1px 2px;
	color: #6dcff6;
	/* vertical-align: top; */
	
}

p#description{
	font-family: 'Kaushan Script', 'Courgette', cursive, serif;
	font-size: 1em;
	
	text-shadow: 1px 1px 2px;
	color: #6dcff6;
	margin-top: 10px;
	
	
	
}

#logo-img{
	
	background-color: #eee;
	width: 100px;
	height: 100px;
	/* margin: 0 25px 0px 10px;  */
	/* border: 1px solid black; */
	display: block;
	background: url('../images/logoDagupan_small.png') no-repeat;
	margin-right: 30px;
	
}

/* container  for header section*/


button#butones{
	/* border: 1px solid blue; */
	
	background-color: #efff00;
	border-color: #6dcff6;
	
}

div.navbar-header button:hover{
	background-color: #efff00;
	
}

div#menus-list {
	/* background-color: green; */
	/* padding-top: 25px; /*  push down MENU UL List  */
	position: absolute;
	bottom: 0;
	right: 0;
	/* border-top: 2px solid red; */
}

div#menus-list ul {
	
	/* background-color: red; */
	/*margin-top: 45px; */
	
}

div#menus-list ul ul{
	padding: 2px;
	/* background-color: red; */
	/*margin-top: 45px; */
	border-radius: 5px;
}


div#menus-list li a{
	display: block;
	text-decoration: none;
	list-style-type: none;
	
}

div#menus-list ul li{
	background-color: #eee;
	text-align: right;
	opacity: .8;
	
}

.caret{
	margin-left: 10px;
	
}

button.navbar-toggle .icon-bar{
	width: 35px;
	height: 3px;
	
}

button.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 8px;
}

button:hover{
	background-color: green;
	
}

div#bottle{
 	/* border: 1px solid pink;*/
	position: relative; 
	
	
}
/* OPENED MENU LIst  */
nav.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:hover{
	color: green;
	background-color: white;
	
}


div#bottle{
 	/* border: 1px solid pink;*/
	position: relative; 
	
	
}

/****************    MAIN CONTENT SECTION   ********************/
div#mainContent{
	padding: 0;
	margin: 0;
	background-color: #6dcff6;
	
	
	
}

div#main-container{
	height: 550px;
	border: 1px solid #222; 
	
	
}


/****************    END OF MAIN CONTENT    ********************/


/****************    FOOTER CONTENT         ********************/
footer {
	background-color: #efff00;
	
}

 div#footer-container{
	border: 1px solid #222;
	height: 200px;
	
}



/****************    END OF FOOTER			*******************/   




/****************    MEDIA QUERIES SECTION  *******************/

/*************   LARGE DEVICES    *****************/

@media (min-width: 1200px){
	#logo-img{
		
		width: 150px;
		height: 150px;
		background: url('../images/logoDagupan.png') no-repeat;
		
	}
	
	div#menus-list {
	/* background-color: green; */
	/* padding-top: 95px; */
	
	}

		div.navbar-brand{
			height: 150px;
	
		}

	div.navbar-brand h1#web-title{
		/8 color: red; */
		font-size: 2em;
		
	}
	
	div#menus-list {
	/* background-color: green; */
	padding-top: 105px; /*  push down MENU UL List  */
	
}
}


/***********   MEDIUM DEVICES     **********/

@media (min-width: 992px) and (max-width: 1199px){
	#logo-img{
		/* border: 1px solid blue; */
		
	}
	
	div.navbar-header{
	
	
	
	}
	
	div.navbar-brand{
	height: 100px;
	/* background-color: green;*/
	}
	
	
	
	
	div.navbar-brand h1#web-title{
		font-size: 1.5em;
		
	}
	
	 p#description {
		font-size: 1em;
		
	}
	
	div#menus-list {
	/* background-color: green; */
	/* padding-top: 65px; /*  push down MENU UL List  */
		
	}	

}

/***************        SMALL DEVICES  *********/

@media (min-width: 768px) and (max-width: 991px){
	#logo-img{
		
		
		
	}
	
	div.navbar-brand{
		
		
	}
	
	div#bottle{
	/* border: 1px solid pink;*/
	height: 90px;	
	
}
	
	div#menus-list {
	/* background-color: green; */
	/*padding-top: 30px; /*  push down MENU UL List  */
	bottom: 5px;
	
	}
	
	header nav#nav-zone{
		padding-top: 0;
		
	}
	
	div.navbar-header{
		
	
	}
	
	div.navbar-brand h1#web-title{
		font-size: 2em;
		color: ;
		
	}
	
	 p#description {
		font-size: 1em;
		
	}
	
}

/**********************    Very small devices  **************************/

@media (max-width: 767px){
	#logo-img{
		
	}
	div.navbar-header{
		
		
	}
	
	div#bottle{
 	/* border: 1px solid pink;*/
	
	
	
}
	
	div#bottle{
	/* border: 1px solid pink; */
	height: 70px;	
	}
	
	div.navbar-brand h1#web-title{
		
		font-size: 5vw;
	}
	
	 p#description {
		font-size: 2vw;
		visibility: hidden;
		
	}
	
	
	/*  decrease the header height */
	header nav#nav-zone{
	
		
	}
	
	div#menus-list {
	/* background-color: green; */
	/* padding-top: 25px; /*  push down MENU UL List  */
	position: relative;  /*  returns  styling to bootstrap */
	border-top: 1px solid transparent;
	margin-top: 0;;
	

}
	div#menus-list ul li{
			text-align: center;
	}	
	
	div#menus-list ul ul.segundo li {
			text-align: left;
			margin-left: 50px;
			color: white;
			border-radius: 0;
	}	
}